.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .2em;
    position: relative;
  }
  
  .gallery img {
    width: 100%;
  }
  
  @media (max-width: 1050px) {
    
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }
  
  .image-card {
    position: relative;
    display: block;
    color: black;
    padding: .2rem;
  }
  
  .image-card:hover .image-title {
    opacity: 1;
  }

  .image-title {
    position: absolute;
    background: #fffd;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    
    display: grid;
    place-items: center;
    transition: all .25s;
  }
  
  img {
    display: block;
  }

  header {
      padding-top: 5rem;
      padding-bottom: 5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
      letter-spacing: .15rem;
      display: flex; justify-content: space-between;
  }

  nav a {
      padding: 1rem;
      letter-spacing: .2rem;
      color: rgb(85, 84, 84);
      font-size: .85rem;
      text-decoration: none;
  }

  body {
      padding-left: 3rem;
      padding-right: 3rem;
  }